.clock-container {
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.outer {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.8), -6px -6px 10px -1px rgba(0,0,0,0.2);
    /* z-index: 10; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.inner {
    border-radius: 50%;
    background: #444444;
    height: 140px;
    width: 140px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,.7),
                inset -4px -4px 6px -1px rgba(40,40,40,1),
                -0.5px -0.5px 0px rgba(40,40,40,1),
                0.5px 0.5px 0px rgba(0,0,0,0.45),
                0px 12px 10px -10px rgba(0,0,0,0.5);
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 30px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: anim 2s linear forwards;
    transform: rotate(-90deg) translate(-200px);
}
svg {
    top: 0;
    left: 0;
    position: absolute;
}
@keyframes anim {
    100% {
        stroke-dashoffset: 165;
    }
}